<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
  <targets>
    <!-- Console target -->
    <target xsi:type="Console" name="console" layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${exception}" />

    <!-- File target -->
    <target xsi:type="File" name="allFile" fileName="${basedir}\Logs\${shortdate}.json"
            archiveAboveSize="1048576"
            archiveFileName="${basedir}/logs/${shortdate}.{#}.json"
            archiveNumbering="Sequence">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${uppercase:${level}}"/>
        <attribute name="logger" layout="${logger}"/>
        <attribute name="Line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message} ${exception:format=tostring,StackTrace}" />
      </layout>
    </target>
  </targets>

  <rules>
    <!-- Log to both console and file -->
    <logger name="*" minlevel="Info" writeTo="console, logfile" />
  </rules>
</nlog>
