<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
  <targets>
    <!-- Console target -->
    <target xsi:type="Console" name="console" layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${exception}" />

    <!-- File target -->
    <target xsi:type="File" name="logfile" fileName="logs/app.log" layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${exception}" />
  </targets>

  <rules>
    <!-- Log to both console and file -->
    <logger name="*" minlevel="Info" writeTo="console, logfile" />
  </rules>
</nlog>
